/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;}



}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
    width: 30%;
   }
.navbar-nav { padding-left: 20px;}
.navbar-toggler { background-color: #fff; }
.bg_1 { padding-bottom: 30px; width: 115%; }
.padding_left0 { padding-left: 170px;}
.bg-light { height: auto; }
.many_text { width: 75%; font-size: 14px;} 
.read_bt a { width: 150px; }
.best_text { padding-top: 93px; }
.image_1 { padding-top: 30px; }
.about_text { width: 77%; padding-top: 90px; }
.bg_2 { width: 100%; float: right; height: auto; padding-bottom: 70px; margin-top: 30px; }
.many_text1 { margin-right: 110px; width: 60%; float: right; padding-left: 0px;}
.image_2 { padding-top: 20px; }
.read_bt1 a { width: 150px; }
.read_bt1 { width: 76%; margin-top: 0px; } 
.bg_3 {  height: 410px; padding-bottom: 30px; width: 115%; }
.many_text2 { width: 75%; }
.read_bt2 a { width: 150px; }
.bg_4 { width: 570px; height: 430px; }
.image_4 { padding-top: 50px; }
.readable_text { padding-top: 0px; }
.bg_5 { height: 355px; padding-bottom: 30px; margin-top: 0px; }
.bg_7 {   height: 350px; padding-bottom: 30px; width: 100%; margin-top: 0px; }
.content_text { width: 76%; font-size: 14px;  margin-top: 0px;}
.bg_6 {  height: 410px; margin-top: 30px; padding: 55px 15px 41px 130px; width: 110%; float: right; }
.mail_section { width: 75%; margin-top: 0px; padding-left: 25px; } 
.Subscribe_text a { width: 150px; }
.contact_text { padding-top: 71px; font-size: 30px; }
.services_text { padding-top: 42px; }
.contact_section { padding-bottom: 90px; }
.carousel-control-prev { left: 225px; }
.carousel-control-next { right: 235px; }
.padding_left10 { padding-left: 145px; }
#main_slider a.carousel-control-prev { left: 825px; top: 97%; }




}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }

.navbar-toggler { background-color: #fff; }
.bg_1 {  height: auto; padding-bottom: 30px; width: 115%; }
.padding_left0 { padding-left: 120px;}
.bg-light { height: auto; }
.mobile_header { display: flex !important; }
.many_text { width: 75%; font-size: 14px;} 
.read_bt a { width: 150px; }
.best_text { padding-top: 93px; font-size: 20px; }
.image_1 { padding-top: 30px; }
.about_text { width: 82%; padding-top: 100px; }
.bg_2 { width: 134%; float: right; height: auto; padding-bottom: 70px; margin-top: 30px; }
.many_text1 { margin-right: 88px; width: 60%; float: right; padding-left: 0px;}
.image_2 { padding-top: 20px; }
.read_bt1 a { width: 150px; }
.read_bt1 { width: 68%; margin-top: 40px; } 
.bg_3 {  height: auto; padding-bottom: 30px; width: 115%; }
.many_text2 { width: 75%; }
.read_bt2 a { width: 150px; }
.bg_4 { width: 100%; background: #fff; height: auto; }
.image_4 { padding-top: 0px; }
.lorem_text { width: 100%; }
.bg_5 { background: #201f33; height: auto; padding-bottom: 30px; margin-top: 0px; }
.bg_7 {   height: auto; padding-bottom: 30px; width: 100%; margin-top: 0px; }
.content_text { width: 76%; font-size: 14px;  margin-top: 0px;}
.bg_6 {  height: 380px; margin-top: 30px; padding: 55px 15px 41px 130px; width: 130%; float: right; }
.mail_section { width: 69%; margin-top: 0px; padding-left: 0px; } 
.Subscribe_text a { width: 150px; }
.contact_text { padding-top: 71px; font-size: 30px; }
.services_text { padding-top: 42px; }
.contact_section { padding-bottom: 90px; }
.read_bt { display: none; }
.carousel-control-prev { left: 135px; }
.carousel-control-next { right: 135px; }
.padding_left10 { padding-left: 85px; }



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
    .titlepage h2 { font-size: 42px; display: block; }
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
    width: 55%;
}

.navbar-toggler { background-color: #fff; }
.bg_1 { background: #201f33; height: auto; padding-bottom: 30px; }
.padding_left0 { padding-left: 15px; padding-right: 15px; }
.bg-light { height: auto; }
.mobile_header { display: flex; }
.many_text { width: 60%;} 
.read_bt a { width: 150px; }
.best_text { padding-top: 30px; }
.image_1 { padding-top: 30px; }
.about_text { width: 100%; padding-top: 20px; }
.bg_2 { background: #201f33; height: auto; padding-bottom: 30px; margin-top: 30px; }
.many_text1 { padding: 0px; width: 59%; float: right; margin-right: 0px;}
.read_bt1 a { width: 150px; }
.read_bt1 { width: 100%; } 
.bg_3 { background: #fff; height: auto; padding-bottom: 30px; margin-top: 0px; }
.many_text2 { width: 60%; }
.read_bt2 a { width: 150px; }
.bg_4 { width: 100%; background: #fff; height: auto; }
.image_4 { padding-top: 0px; }
.lorem_text { width: 90%; }
.carousel-control-prev { display: none; }
.carousel-control-next { display: none; }
.bg_5 { background: #201f33; height: auto; padding-bottom: 30px; margin-top: 30px; }
.bg_7 { background: #ffffff; height: auto; padding-bottom: 30px; margin-top: 0px; }
.content_text { width: 100%; }
.bg_6 { background: #ef5051; height: auto; margin-top: 30px; padding: 0px 15px 30px 15px; }
.mail_section { width: 100%; margin-top: 0px; padding-left: 0px; } 
.Subscribe_text a { width: 150px; }
.contact_text { padding-top: 0px; }
.services_section{ padding-top: 0px; }
.services_text { padding-top: 0px; }
.contact_section { padding-top: 0px; }


} 


@media (max-width: 575px) {
    .last { display: none; }
    .carousel-caption {display: none;} 
.header { padding-top: 0px; }
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{ 
     font-size: 23px; 
     margin-top: 0px;
}
.main {
    width: 100%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}
.navbar-toggler { background-color: #fff; }
.bg_1 { background: #201f33; height: auto; padding-bottom: 30px; }
.padding_left0 { padding-left: 15px; padding-right: 15px; }
.bg-light { height: auto; }
.mobile_header { display: flex; }
.many_text { width: 100%;} 
.read_bt a { width: 150px; }
.best_text { padding-top: 30px; }
.image_1 { padding-top: 30px; }
.about_text { width: 100%; padding-top: 20px; }
.bg_2 { background: #201f33; height: auto; padding-bottom: 30px; margin-top: 30px; }
.many_text1 { padding: 0px; width: 100%; }
.read_bt1 a { width: 150px; }
.read_bt1 { width: 100%; } 
.bg_3 { background: #fff; height: auto; padding-bottom: 30px; }
.many_text2 { width: 100%; }
.read_bt2 a { width: 150px; }
.bg_4 { width: 100%; background: #fff; height: auto; }
.image_4 { padding-top: 0px; }
.lorem_text { width: 100%; }
.carousel-control-prev { display: none; }
.carousel-control-next { display: none; }
.bg_5 { background: #201f33; height: auto; padding-bottom: 30px; margin-top: 30px; }
.bg_7 { background: #ffffff; height: auto; padding-bottom: 30px; margin-top: 0px; }
.content_text { width: 100%; }
.bg_6 { background: #ef5051; height: auto; margin-top: 30px; padding: 0px 15px 30px 15px; }
.mail_section { width: 100%; margin-top: 0px; padding-left: 0px; } 
.Subscribe_text a { width: 150px; }
.contact_text { padding-top: 0px; }
.services_section { padding-top: 0px; }
.services_text { padding-top: 0px; }
.contact_section { padding-top: 0px; }

}